.notify {
  background-color: red;
  position: absolute;
  color: white;
  font-size: 20px;
  padding: 10px;
  top: 20%;
}

.notify-enter {
  transform: translateX(-300%);
}

.notify-enter-active {
  transform: translateX(0);
  transition: transform 500ms linear 1000ms;
}

.notify-exit {
  transform: translateX(0);
}

.notify-exit-active {
  transform: translateX(-300%);
  transition: transform 500ms linear 1000ms;
}
